#mainHeader {
	margin: 0 auto;
	height: 200px;
	background-color: #999999;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #BCB954;
}

#container {
	margin: 0 auto;
	width: 900px;
	background-color: #54BC65;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.iconBox {
	width: 400px;
	height: 400px;
	background-color: #BCB954;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	color: #BCB954;


}

.textBox {
	width: 200px;
	height: 125px;
	background-color: #FFFFFF;
}

object {
	width: 200px;
	height: 200px;
}

